* {
 box-sizing:border-box;
}
.block{
	position: fixed;
	width: 300px;
	height: 400px;
	background:white;
	padding: 20px 30px 20px 30px;
	left: 50%;
	margin-left: -150px;
	top: 50%;
	margin-top: -200px;
	border: 2px solid #898989;
	
}


     

         