body {
background-image: url(../img/min.jpg);    
background-position: center center;    
background-repeat: no-repeat;    
background-attachment: fixed;    
background-size: cover;  

}
.panel {
	margin-top: 10px;
	margin-left: 10px;
		box-shadow: 6px 6px 6px red;
	background-color: black;
text-shadow: 1px 0px 0px #232;
color: red;
	width: 40%;
	&-panel-default {
		width: 60%;
	}
	
}
