/* fonts family */
@font-face {
	font-family: 'ProximaNova_bold';
	src: url('../fonts/subset-ProximaNova-Bold.eot');
	src: url('../fonts/subset-ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/subset-ProximaNova-Bold.woff2') format('woff2'),
		url('../fonts/subset-ProximaNova-Bold.woff') format('woff'),
		url('../fonts/subset-ProximaNova-Bold.ttf') format('truetype'),
		url('../fonts/subset-ProximaNova-Bold.svg#ProximaNova-Bold') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'ProximaNova_reg';
	src: url('../fonts/subset-ProximaNova-Regular.eot');
	src: url('../fonts/subset-ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/subset-ProximaNova-Regular.woff2') format('woff2'),
		url('../fonts/subset-ProximaNova-Regular.woff') format('woff'),
		url('../fonts/subset-ProximaNova-Regular.ttf') format('truetype'),
		url('../fonts/subset-ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}
.reg() {
	font-family: 'ProximaNova_reg', sans-serif;
}
.bold() {
	font-family: 'ProximaNova_bold', sans-serif;
}


/* colors */ 

@btn-color: #f7af01;
@icons-color: #47ba14;
@text: #1a1820;
@error: #ff0000;
@bg-light :#f5f5f5;
@light: #fff;
@border-input: #dddddd;

/* basic setting */

html {
	font-size: 10px;
}
body {
	.reg();
}
a:hover {
	text-decoration: none;
}
button, input, a, textarea {
	outline: none;
}

.button {
	background-color: @btn-color;
	color: @light;
	padding: 1rem 3rem;
	border-radius: 8px;
	text-transform: uppercase;
	font-size: 11px;
	border: none;
	transition: all 0.2s;
	&:hover {
		cursor: pointer;
		background-color: darken(@btn-color, 5%);
	}
}

/* typography */

section {
	padding: 10rem 0;
}

/* main */

.main {
	padding: 3rem 0 5rem;
	background: #fff url(../img/fon.jpg) center center no-repeat;
	background-size: cover;
	&-content {
		margin-top: 10rem;
		h1 {
			margin-top: 0;
			margin-bottom: 6rem;
			.bold();
			font-size: 3rem;
			line-height: 1.2;
			text-transform: uppercase;
        }

	}
	&-trigger {
		display: block;
		font-size: 2.2rem;
		text-transform: uppercase;
		.bold();
		margin-top: 3rem;
	}
	&-subtitle {
		font-size: 2rem;
	}
	span {
		display: inline-block;
		padding: 2rem 3rem;
		font-size: 1.8rem;
		color: @light;
		background-color: @icons-color;
		text-align: center;
		margin-top: 6rem;
		strong {
			font-size: 3rem;
			.bold();
		}

	}
	 /* главная форма */
	 &-form {
	 	padding: 4rem 5rem;
	 	background-color: @light;
	 	text-align: center;

	 	/* заголовок формы */
	 	&-header {
	 		font-size: 1.3rem;
	 		strong {
	 			font-size: 1.5rem;
	 		}
	 	}

	 	/* поле для ввода */
         &-input {
         display: block;
         margin: 2rem 0;
         width: 100%;
         border: 1px solid @border-input;
         border-radius:5px;
         padding: 1.4rem;


	 	}
	 	/* подписи к полям */
	 	label {
	 		position: absolute;
	 		
	 		left: 50%;
	 		transform: translateX(-50%) translateY(-50%);
	 		padding: 0.2rem;
	 		font-size: 1.3rem;
	 		background-color: @light;
	 	}

	 	/* Кнопка формы */
         &-btn {
         	display: block;
         	width: 100%;
         	height: 4.2rem;
         	font-size: 0.9em;
         }

	 	/* подпись  */

	 	small {
	 		display: block;
	 		margin-top: 1.5rem;
	 	}

	 }
}


.header {
	height: 7rem;
}
.wrap {
	display: table;
	width: 100%;
	height: 7rem;
	&-block {
        display: table-cell;
        vertical-align: middle;
        text-align: right;
	}
}

.phone-link {
	display: inline-block;
	color: @text;
	font-weight: 900;
	font-size: 1.8rem;
	height: 7rem;
	line-height: 7rem;

}
.phone-block {
	text-align: right;
}

/* оформление преимуществ */ 
.section-header {
	margin: 2rem 0 10rem;
	.bold();
	font-size: 3.6rem;
	text-align: center;

}
.features {
	&-block {
		text-align: center;
		h3 {
			.bold();
			font-size: 2rem;
			margin-bottom: 3rem;

		}
		p {
			display: inline-block;
			weight: 50px;
			font-size: 1.4rem;
		}
	}

	&-img  {
		height: 8rem;
		margin-bottom: 3rem;
		img {
			display:block;
			margin: 0 auto;
		}

	}
}
.slick-active {
	outline: none;
}
.prev {
	position:absolute;
	z-index: 99;
	width: 2rem;
	height: 2rem;
	border:none;
	background: url(../img/left-arrow.svg) center no-repeat;
	background-size: 100%;
	top: 50px;
	left:0;
	transform:scaleY(-50%);
	
	
}
.p1, .p2, .p3, .p4 {
	width: 150px;
	.bold();
}
.arrow {
	top: 50px;
	
	transform:scaleY(-50%);
	position:absolute;
	z-index: 99;
	width: 2rem;
	height: 2rem;
	border:none;
	
	
}
.prev {
		left: 0;
	background: url(../img/left-arrow.svg) center no-repeat;
	background-size: 100%;
	
}
.next {
	right: 0;
	background: url(../img/right-arrow.svg) center no-repeat;
	background-size: 100%;
	
}

/* всплывающее окно  */
.popup {
	display:none;
	position:fixed;
	left: 0;
	top: 0;
	button:0;
	right: 0;
	width: 100%;
	height: 100%;
	z-index:9;
	background-color: rgba(0, 0, 0, 0.5);
	&-content {
		position:fixed;
		top: 12%;
	left: 50%;
	background-color: @light;
	transform: translateX(-50%);
	padding: 4rem 6rem;
	}
	&-form {
		margin-top: 3rem;
		padding: 0;
	}
	&-close {
		position:absolute;
		top: -1.5rem;
		right: -2.5rem;
		width: 2rem;
		text-align: center;
		border: none;
		background-color: transparent;
		font-size: 3rem;
		color: @light;

	}
	.popup-close:hover {

		cursor: pointer;

	}
	&-content {
		text-align: center;

	}
	&-header {
		.bold();
	}
}



@media (max-width: 991px) {
.phone-block {
	text-align: center;
}
.main {
	background-position: top right;
}
.main-content {
	margin-top: 3rem;
}
.main-title {
	padding-bottom: 3rem;
	text-align: center;
}
}
@media (max-width: 767px) {
	.main {
		background-position: top left;
	}
	.header {
		text-align: center;
	}

	.wrap-block {
		text-align: center;
	}
}
