html {
  font-family: 'PT Sans Caption', sans-serif;
  font-size: 16px;
  line-height: 1.5;
}
.header {
  background: url("../img/fon.jpg") 0 0 no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  color: white;
  text-align: center;
  /* флекс-бокс */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
 
 
          flex-direction: column;
 
          justify-content: center;
  
          align-items: center;
}
